<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Javier Alfredo Dominguez Tovar</font></font></h1>
        <h3 class="fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ingeniero De Software</font></font></h3>
        <p class="lead text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Soy un ingeniero recien egresado</font></font></p>
        <div>
          <a href="#" class="btn btn-primary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobre mi</font></font></a>
          <a href="#" class="btn btn-secondary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contacto</font></font></a>
        </div>
      </div>
    </div>
  </section>
  
  

  <div class="col-lg-4" style="width: 100%; display: flex; align-items: center; flex-direction: column; margin-top: 20px; margin-bottom: 20px;">
    <img class="bd-placeholder-img rounded-circle" width="200" height="300" src="/assets/images/yo.jpeg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"/>

    <h2 class="fw-normal">Javier Alfredo Dominguez Tovar</h2>
    <p style="width: 300px; text-align: center;">soy un ingeniero recien egresado de la carrera en ingeneria de software, con conocimientos en la rama,con el fin de beneficiar a la organización y desarrollarme de forma profesional y personal.</p>
  </div>



  <div class="container py-4">
    

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Objetivo</h1>
        <p class="col-md-8 fs-4">Aplicar conocimientos teóricos y prácticos aprendidos durante mi formación académica en la universidad con el fin de beneficiar a la organización y desarrollarme de forma profesional y personal.</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Conocimientos</h2>
          <p> Soporte Preventivo y Correctivo de Equipos de Cómputo
           Paquetería office
            Administrativo
            Elaboración de Facturas Electrónicas
            Elaboración de Recibos de Nomina y Timbrado de los Mismos
            HTML5
            CCS
            SQL
            Java, Javascript
            Diseño Web
            </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Educacion</h2>
          <p>Universidad Autónoma del Estado de Hidalgo
            Enero 2017-2021
            Licenciatura en Ingeniería de Software
            
            Colegio de Estudios Científicos y Tecnológicos del Estado de Hidalgo
            Agosto 2013 julio 2016
            Técnico en Soporte y Mantenimiento de Equipo de Cómputo Cedula Profesional
            10327067
            </p>

            
          
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      © 2022
    </footer>
  </div>