
  <main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">CONOCE UN POCO SOBRE MI</h1>
        <p class="lead fw-normal"></p>
        
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">SERVICIO SOCIAL</h2>
          <p>Realice mi servicio social en la universidad autónoma del estado de hidalgo en la coordinación de servicios escolares .</p>
          <p>a cargo del coordinador del departamento de informática y a veces ayudaba en el centro de cómputo de dicha universidad brindando soporte técnico</p>
          <p>a los funcionarios de la institución</p>
        </div>
        <div class=" shadow-sm mx-auto" style="background-image:url(/assets/images/imagen1.jpg) ;background-position: center;background-size: cover; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>

      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3"></div>
          <h2 class="display-5">PRACTICAS PROFESIONALES</h2>
          <p>Durante mis practicas profesionales se me fueron asignas distintas actividades</p>
          <p> una de las actividades que se me asignaron fueron aprender sobre ceo porque estuve acargo de mantenimiento de una pagina web</p>
          <p> me dieron a la tarea de implementale mas key words y tambien fui asignado ala area de marketing digital </p>
          <p> porque realizamos el desarrollo de un e-commerce dicho  eso fue realizada en wordpress en el cual se implemento la pagina web para una proveedora</p>
          <div class=" shadow-sm mx-auto" style="background-image:url(/assets/images/wds.jpg) ;background-position: center;background-size: cover; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">APP TOMAR PEDIDOS</h2>
          <p>Se realizo una app de pedidos para un restaurante bar que esta ubicado en el municipio de Tlaxcoapan hidalgo,</p>
          <P>actualmente la app se encuentra en su fase final ya se realizaron pruebas con los dueños de dicho restaurante y </P>
          <P>ya se encuentra lista para usarse solo se están afanando los detalles, la app se realizó en appinventor.</P>
        </div>
        <div class=" shadow-sm mx-auto" style="background-image:url(/assets/images/LG.jpeg) ;background-position: center;background-size: cover; width: 50%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      
      <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"></div>
        <div class="my-3 py-3">
          <h2 class="display-5">SISTEMA RECIBOS DESPACHO TOVAR</h2>
          <p> El despacho tovar quiso dejar de dar de recibos de manera fisica y migrar a dar recibos de manera electronica</p>
          <p> se implemento el sistema en las computadoras del despacho ya que tenian un grave problema y perdian sus recibos y los perdian y ahora todo se les almacenan en una base de datos. </p>
        </div>
        <div class=" shadow-sm mx-auto" style="background-image:url(/assets/images/Corportivo.png) ;background-position: center;background-size: cover; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">CORRICULUM VITAE ANGULAR</h2>
          <p class="lead">Se desarrollo un curriculum vitae el cual fue implementado en angular</p>
          <p> el cual hicimos por que estuvimos realizandolo como metodo de practica para reforzar nuestros conocimientos adquirido en angular.</p>
        </div>
        <div class=" shadow-sm mx-auto" style="background-image:url(/assets/images/ang.png) ;background-position: center;background-size: cover; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          
        </div>
        <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          
        </div>
        <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
         
        </div>
        <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>
  </main>  